<app-navbar [user]="currentUser"></app-navbar>

<form [formGroup]="bookForm" (ngSubmit)="submitForm()" class="container mt-3 mx-5" novalidate>
  <div *ngIf="validMessage != ''">
    <h3 class="has-info">{{ validMessage }}</h3>
  </div>

  <div class="form-group">
    <label>Book Title</label>
    <input type="text" class="form-control" formControlName="title" required autofocus/>
  </div>

  <div class="form-group">
    <label>Author</label>
    <input type="text" class="form-control" formControlName="author" required/>
  </div>

  <div class="form-group">
    <label>Genre</label>
    <select class="form-control" formControlName="genre" required>
      <option value="">Select a genre</option>
      <option *ngFor="let g of genres" [value]="g">
              {{ g }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>ISBN</label>
    <input type="number" class="form-control" formControlName="isbn" min="0" required/>
  </div>

  <div class="form-group">
    <label># of Pages</label>
    <input type="number" class="form-control" formControlName="numPages" min="0" required/>
  </div>

  <div class="form-group">
    <label>Current Holds</label>
    <input type="number" class="form-control" formControlName="currentHolds" min="0" required/>
  </div>

  <div class="form-group">
    <label>Book Status</label>
    <select class="form-control" formControlName="bookStatus" required>
      <option value="">Select a status</option>
      <option *ngFor="let s of status" [value]="s">
              {{ s }}
      </option>
    </select>
  </div>
  
  <div class="form-group">
    <label>Total Books</label>
    <input type="number" class="form-control" formControlName="totalBooks" min="0" required/>
  </div>

  <div class="form-group">
    <label>Due Date</label>
    <input type="text" class="form-control" formControlName="dueDate" required/>
  </div>

  <div class="form-group">
    <label>Days Remaining</label>
    <input type="number" class="form-control" formControlName="daysRemaining" min="0" required/>
  </div>

  <button type="submit" class="btn btn-primary mb-5">Submit</button>
</form>
