<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="text-center">
    <h4 class="mb-4">Library Management System</h4>

    <div class="form-floating">
        <input id="email" type="email" formControlName="email" class="form-control" placeholder="name@example.com">
        <label for="email" class="form-label">Username</label>
        <app-inline-error [control]="emailControl"></app-inline-error>
    </div>

    <div class="form-floating">
        <input id="password" type="password" formControlName="password" class="form-control" placeholder="Password">
        <label for="password" class="form-label">Password</label>
        <app-inline-error [control]="passwordControl"></app-inline-error>
    </div>

    <div class="form-floating">
        <a class="nav-link" (click)="forgot()" role="button">Forgot password?</a>
    </div>

    <button type="submit" class="w-100 mt-2 btn btn-primary">Sign in</button>
    <p class="mt-3 mb-3 text-muted">
        <small>&copy; Team Bee 2021</small>
    </p>


    <!--  
    <ng-container *ngIf="visual; else nothere">
        <p> {{ visual }}</p>
    </ng-container>
    <ng-template #nothere>
        <p>not here</p>
    </ng-template>-->
    
</form>